.carousel-item{
               margin-top:50px;
}
.buy-now-button{
    padding:10px;
    font-size:large;
    
}
.boldc{
     font-weight:600;
}
.bgcolorhoyegelo{
    background-color: rgb(247, 230, 233);
    padding:60px;  
}
.bag-bgcolor{
    background-color: salmon;
}
.cat1{
    padding: 20px 30px;
}
.container-categories{
margin-top:5%;
margin-left:9.5%;
margin-right:9.5%;
}






