.carou-bg{
    background-image: url("hot-gadgets/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    height:555px;
    padding-left:20px;
    padding-top:75px;
    padding-bottom:75px;
}
.carou-bg2{
    background-image: url("hot-gadgets/bg-2.png");
    background-position: left;
    background-repeat: no-repeat;
}
.carou-text{
    text-align:justify;
    padding-top:20px;
}
.card-foot{
    text-align:center;
}
.container{
    margin-bottom:55px;
}
.laptop-cards{
    margin-left:10px;
}
